map.yarinaoshi.top {
    handle_path /music/* {
        reverse_proxy 127.0.0.1:8090
    }
    reverse_proxy 127.0.0.1:8080
}

planner.yarinaoshi.top {
    handle /moments-api/* {
        reverse_proxy 127.0.0.1:13301
    }
    handle {
        reverse_proxy 127.0.0.1:13300
    }
}
